PORT=10000
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/fb_bot?retryWrites=true&w=majority
GEMINI_API_KEY=your_gemini_api_key_here
FB_GROUP_URL=https://www.facebook.com/groups/YOUR_GROUP_ID
FB_PAGE_ACCESS_TOKEN=your_facebook_page_access_token_here
FB_VERIFY_TOKEN=your_custom_webhook_verify_token
ADMIN_FB_ID=your_personal_facebook_psid
