# Server Configuration
PORT=10000
NODE_ENV=production

# Database Configuration
MONGODB_URI=mongodb+srv://taqlikat:taqlikat123@erwin.m4hchwx.mongodb.net/?appName=Erwin

# Gemini AI Credentials
GEMINI_API_KEY=AQ.Ab8RN6IYOkRAg6A8ZWNSJ6aDVXKQChb2ccQlkA7W0SZjmo1_GQ

# Facebook Messenger Webhook Configuration
VERIFY_TOKEN=walid_token
PAGE_ACCESS_TOKEN=EAAX3ZBSdmCIwBSKuLSWMt97bCIeXWVEjbJq9e0UDOVKA2IDku8VSCuphNEsz9sMRtN3l9MVeYZCbeGHcFoHeqEw22na1ywXz8POxLn7uLVaw3rLGclTXIFjnRXwMsa0s2LMg2k01ixS3WUxwHDkcvi0FnDXpN1E7Gs36n7jXjPJZBez3R3Ix3stdxl07PyTIoMmqomIcwZDZD

# Facebook Group Settings
FB_GROUP_URL=https://facebook.com/groups/anime.gold.18/

# Admin Facebook ID
ADMIN_FB_ID=your_personal_facebook_psid

# Puppeteer Configuration
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true
PUPPETEER_EXECUTABLE_PATH=/usr/bin/google-chrome-stable
